table{

    border: solid red 2px;
    border-collapse: collapse;
}

.blackbox{
    width: 50px;
    height: 50px;
    background-color: black;
    float: left;

}

.whitebox{
    width: 50px;
    height: 50px;
    background-color: white;
    float: left;
}
#chessboard {
    width: 400px;
    height: 400px;
    border: solid red 1px;
}